@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNorqSyNI.ttf) format('truetype');
}
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNopqSiNI.ttf) format('truetype');
}
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNoq0SiNI.ttf) format('truetype');
}
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNorqSiNI.ttf) format('truetype');
}
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNoo0TSNI.ttf) format('truetype');
}
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNooNTSNI.ttf) format('truetype');
}
:root {
  --e-global-color-primary: #6282E7;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.navbar {
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: var(--e-global-color-primary) !important;
  z-index: 5;
}
@media only screen and (max-width: 769px) {
  .navbar {
    background-color: #0e0b47 !important;
  }
}
.navbar .nav-item:hover .dropdown-menu {
  display: block;
}
.navbar .navbar-toggler {
  color: #fff;
  border-color: transparent;
  border: none;
}
.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media only screen and (max-width: 769px) {
  .navbar .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.navbar .container .logo a > img {
  width: 130px;
}
@media only screen and (max-width: 769px) {
  .navbar .container .logo {
    display: none;
  }
}
.navbar .container .logo-mobile {
  display: none;
}
.navbar .container .logo-mobile a > img {
  width: 80px;
}
@media only screen and (max-width: 769px) {
  .navbar .container .logo-mobile {
    display: block;
  }
}
.navbar .container .nav-link {
  color: white;
}
.navbar .container .nav-link:hover {
  color: white;
}
.navbar .container .navbar-collapse ul {
  font-family: 'Kumbh Sans', sans-serif;
}
.navbar .container .navbar-collapse ul > li {
  color: white;
  margin: 0px 15px;
}
.navbar .container .navbar-collapse ul > li .dropdown-menu {
  background-color: #fff;
}
.navbar .container .navbar-collapse ul > li .dropdown-menu .dropdown-item {
  font-size: 14px;
  color: #6282E7;
}
.navbar .container .navbar-collapse ul > li .dropdown-menu .dropdown-item:active {
  background-color: #6282E7;
  color: #fff;
}
.navbar .container .navbar-collapse ul .active .nav-link {
  color: white;
}
.navbar .container .navbar-collapse ul .active::after {
  content: "";
  background-color: #e4af3c;
  width: 100%;
  height: 1.5px;
  bottom: 0px;
  left: 0;
  display: block;
  font-weight: 500;
}
@media only screen and (max-width: 769px) {
  .navbar .container .navbar-collapse ul .active::after {
    width: 25%;
  }
}
.navbar .container .navbar-collapse ul li > a {
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
}
.navbar .container .navbar-collapse ul li::after {
  content: "";
  background-color: #e4af3c;
  width: 0%;
  height: 2px;
  bottom: 0px;
  left: 0;
  display: block;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.navbar .container .navbar-collapse ul li:hover::after {
  content: "";
  background-color: #e4af3c;
  width: 100%;
  height: 2px;
  bottom: 0px;
  display: block;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
@media only screen and (max-width: 769px) {
  .navbar .container .navbar-collapse ul li:hover::after {
    width: 25%;
  }
}
.navbar .container .d-flex .btn {
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 17px;
}
.navbar .container .d-flex .btn-outline-success {
  border-color: #ffa842;
  background-color: #ffa842;
  border-radius: 5px;
}
.navbar .container .d-flex .btn-outline-success:hover {
  background-color: #eba04c;
}
.banner-bg {
  background-color: var(--e-global-color-primary);
}
.banner-bg .container-fluid {
  position: relative;
}
@media only screen and (max-width: 768px) {
  .banner-bg .container-fluid .banner-holder .col-md-6 {
    width: 80%;
  }
}
@media only screen and (max-width: 426px) {
  .banner-bg .container-fluid .banner-holder .col-md-6 {
    width: 100%;
  }
}
.banner-bg .container-fluid .banner-holder .banner-text {
  color: white;
  margin-top: 60px;
}
@media only screen and (max-width: 768px) {
  .banner-bg .container-fluid .banner-holder .banner-text {
    margin-top: 35px;
  }
}
.banner-bg .container-fluid .banner-holder .banner-text .text-position {
  margin-bottom: 70px;
}
@media only screen and (max-width: 768px) {
  .banner-bg .container-fluid .banner-holder .banner-text .text-position {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 426px) {
  .banner-bg .container-fluid .banner-holder .banner-text .text-position {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .banner-bg .container-fluid .banner-holder .banner-text .text-position .badge-size {
    text-align: center;
  }
}
.banner-bg .container-fluid .banner-holder .banner-text .text-position .badge-size .badge {
  color: #fff;
  background-color: #ffffff2b;
  padding: 12px 30px;
  margin: 25px 0px 10px 0px;
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .banner-bg .container-fluid .banner-holder .banner-text .text-position .badge-size .badge {
    padding: 10px 20px;
    font-size: 12px;
    text-align: center;
  }
}
.banner-bg .container-fluid .banner-holder .banner-text .text-position > p {
  margin: 25px 0px 25px 0px;
  font-size: 20px;
  font-weight: 200;
  color: #e6e9f3;
}
@media only screen and (max-width: 768px) {
  .banner-bg .container-fluid .banner-holder .banner-text .text-position > p {
    text-align: center;
  }
}
.banner-bg .container-fluid .banner-holder .banner-text .text-position > h1 {
  margin: 0px 0px 25px 0px;
  font-size: 40px;
  font-weight: 600;
}
.banner-bg .container-fluid .banner-holder .banner-text .text-position > h1 > span {
  color: #fdff7a;
}
@media only screen and (max-width: 768px) {
  .banner-bg .container-fluid .banner-holder .banner-text .text-position > h1 {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .banner-bg .container-fluid .banner-holder .banner-text .text-position .button-position {
    text-align: center;
  }
}
.banner-bg .container-fluid .banner-holder .banner-text .text-position .button-position .btn-outline-success {
  border-color: #ffa842;
  background-color: #ffa842;
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
}
@media only screen and (max-width: 426px) {
  .banner-bg .container-fluid .banner-holder .banner-text .text-position .button-position .btn-outline-success {
    width: 80%;
    margin-bottom: 5px !important;
    margin-right: 0px !important;
  }
}
.banner-bg .container-fluid .banner-holder .banner-text .text-position .button-position .btn-outline {
  border-color: #fff;
  color: #fff;
}
@media only screen and (max-width: 426px) {
  .banner-bg .container-fluid .banner-holder .banner-text .text-position .button-position .btn-outline {
    width: 80%;
    margin-top: 5px !important;
    margin-right: 0px !important;
  }
}
.banner-bg .container-fluid .banner-holder .banner-text .text-position .button-position .btn {
  margin: 25px 15px 25px 0px;
}
@media only screen and (max-width: 768px) {
  .banner-bg .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.banner-bg .row .banner-img {
  position: absolute;
  bottom: 0;
  right: -133px;
  z-index: 1;
}
.banner-bg .row .banner-img .image {
  width: 80%;
  height: 500px;
}
.banner-bg .row .banner-img .image img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .banner-bg .row .banner-img .image img {
    width: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
  .banner-bg .row .banner-img {
    position: relative;
    right: 0px;
  }
}
.banner-bg .bg-section2 {
  background-color: #0E0B47;
  background-image: url(/img/cover2.png);
}
.banner-bg .bg-section2 P {
  color: #fff;
  padding-top: 30px;
  font-family: 'Kumbh Sans', sans-serif;
}
@media only screen and (max-width: 426px) {
  .banner-bg .bg-section2 P {
    font-size: 10px;
    text-align: center;
  }
}
.banner-bg .bg-section2 sup {
  color: #eba04c;
  font-weight: 800;
}
.banner-bg .bg-section2 .text-color {
  opacity: 0.7;
}
.banner-bg .bg-section2 .text-color > img {
  width: 100%;
}
.banner-bg .bg-section2 .p-4 {
  padding-top: 5px !important;
}
@media only screen and (max-width: 426px) {
  .banner-bg .bg-section2 .p-4 {
    padding: 0px !important;
  }
}
@media only screen and (max-width: 426px) {
  .banner-bg .bg-section2 .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.section2 {
  position: relative;
  margin-top: 80px;
}
.section2 .position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media only screen and (max-width: 769px) {
  .section2 .position {
    width: 100%;
    height: 400px;
  }
}
@media only screen and (max-width: 426px) {
  .section2 .position {
    width: 100%;
    height: 300px;
  }
}
@media only screen and (max-width: 769px) {
  .section2 .position .image {
    width: 100%;
    height: 100%;
  }
}
.section2 .position .image > img {
  border-radius: 20px;
}
@media only screen and (max-width: 769px) {
  .section2 .position .image > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.section2 .position .play {
  position: absolute;
  top: 45%;
  left: 39%;
}
@media only screen and (max-width: 768px) {
  .section2 .position .play {
    top: 44%;
    left: 44%;
  }
}
.section2 .position .play svg {
  font-size: 60px;
  color: #fff;
  background-color: transparent;
}
.section2 .position .experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 70%;
  border-radius: 20px;
  -webkit-box-shadow: 5px 7px #eef1f5;
          box-shadow: 5px 7px #eef1f5;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  left: -34px;
}
@media only screen and (max-width: 768px) {
  .section2 .position .experience {
    left: 110px;
    bottom: -25px;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
}
@media only screen and (max-width: 426px) {
  .section2 .position .experience {
    left: 60px;
  }
}
.section2 .position .experience .d-flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 5px;
}
@media only screen and (max-width: 769px) {
  .section2 .position .experience .d-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.section2 .position .experience .d-flex .experiance-text {
  font-family: 'Kumbh Sans', sans-serif;
}
.section2 .position .experience .d-flex .experiance-text > h3 {
  font-weight: 800;
  margin: 0;
  text-align: center;
  color: #0E0B47;
}
@media only screen and (max-width: 768px) {
  .section2 .position .experience .d-flex .experiance-text > h3 {
    font-size: 20px;
  }
}
.section2 .position .experience .d-flex .experiance-text > p {
  margin: 0px;
  text-align: center;
  margin: 0px 10px;
}
@media only screen and (max-width: 768px) {
  .section2 .position .experience .d-flex .experiance-text > p {
    font-size: 10px;
  }
}
.section2 .position .experience .d-flex i {
  color: #eba04c;
  font-size: 50px;
  background-color: #ffa84224;
  border-radius: 10px;
}
.section2 .watermark {
  position: absolute;
  right: -10%;
  bottom: -10%;
  width: 45vw;
}
@media only screen and (max-width: 426px) {
  .section2 .watermark {
    bottom: -5%;
  }
}
.section2 .watermark > img {
  width: 80%;
  opacity: 0.7;
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}
@media only screen and (max-width: 426px) {
  .section2 .col-lg-6 {
    text-align: center;
  }
}
@media only screen and (max-width: 769px) {
  .section2 .col-lg-6 {
    width: 100%;
  }
}
.section2 .col-lg-6 .badge {
  color: #ffa842;
  background-color: #ffa84224;
  padding: 10px 25px;
  margin: 25px 0px 10px 0px;
  font-family: 'Kumbh Sans', sans-serif;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .section2 .col-lg-6 .badge {
    margin-top: 70px;
  }
}
@media only screen and (max-width: 426px) {
  .section2 .col-lg-6 .badge {
    margin-top: 70px;
  }
}
.section2 .col-lg-6 .btn-outline-success {
  border-color: #ffa842;
  background-color: #ffa842;
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 15px;
}
.section2 .col-lg-6 h2 {
  font-family: 'Kumbh Sans', sans-serif;
  color: #0E0B47;
  font-size: 50px;
  font-weight: 700;
  margin: 10px 0px 20px 0px;
}
@media only screen and (max-width: 768px) {
  .section2 .col-lg-6 h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 426px) {
  .section2 .col-lg-6 h2 {
    font-size: 25px;
  }
}
.section2 .col-lg-6 .span-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section2 .col-lg-6 .span-position .size {
  text-align: center;
  font-size: 50px;
  float: left;
  line-height: 1;
  font-weight: 600;
  margin-right: 10px;
  color: #7e7e7e;
}
.section2 .col-lg-6 .span-position p {
  font-size: 18px;
  color: #7e7e7e;
  font-weight: 400;
}
@media only screen and (max-width: 426px) {
  .section2 .col-lg-6 .span-position p {
    text-align: justify;
  }
}
.section2 .col-lg-6 > p {
  margin-bottom: 20px;
  color: #7e7e7e;
  font-size: 18px;
  font-weight: 400;
}
@media only screen and (max-width: 426px) {
  .section2 .col-lg-6 > p {
    text-align: justify;
  }
}
.photo-gallary {
  margin: 100px 0px 60px 0px;
  padding: 20px 0px;
}
.photo-gallary .col-md-4 {
  width: 95%;
}
@media only screen and (max-width: 426px) {
  .photo-gallary .container {
    text-align: center;
  }
}
.photo-gallary .container .badge {
  color: #FFA842;
  background-color: #ffa84224;
  padding: 10px 25px;
  margin: 0px 0px 5px 0px;
  font-family: 'Kumbh Sans', sans-serif;
}
.photo-gallary .container .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
.photo-gallary .container .heading h2 {
  font-family: 'Kumbh Sans', sans-serif;
  color: #0E0B47;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
}
@media only screen and (max-width: 426px) {
  .photo-gallary .container .heading h2 {
    font-size: 25px;
  }
}
.photo-gallary .container .heading a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.photo-gallary .container .heading a span {
  color: #e4af3c;
  font-weight: 500;
  line-height: 13px;
}
.photo-gallary .container .multi-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.photo-gallary .container .multi-card .card {
  border-radius: 30px;
}
@media only screen and (max-width: 426px) {
  .photo-gallary .container .multi-card .card {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 426px) {
  .photo-gallary .container .multi-card .card .image {
    height: 300px;
  }
}
.photo-gallary .container .multi-card .card .image > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
  border-radius: 30px;
}
@media only screen and (max-width: 426px) {
  .photo-gallary .container .multi-card .card .image > img {
    border-radius: 30px;
  }
}
.photo-gallary .container .multi-card .card-body {
  text-align: center;
}
.photo-gallary .container .multi-card .card-body i {
  font-size: 20px;
  padding: 2px;
  margin: 0px 10px;
  color: #e4af3c;
  background-color: #e9d3ba;
  border-radius: 50%;
}
.photo-gallary .container .multi-card .card-body > h5 {
  color: #0E0B47;
  font-weight: 700;
}
@media only screen and (max-width: 426px) {
  .photo-gallary .container .multi-card .card-body > p {
    text-align: justify;
  }
}
.section3 {
  padding: 20px 0px;
}
@media only screen and (max-width: 769px) {
  .section3 {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 426px) {
  .section3 {
    text-align: center;
  }
}
.section3 h2 {
  font-family: 'Kumbh Sans', sans-serif;
  color: #0E0B47;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
}
@media only screen and (max-width: 769px) {
  .section3 h2 {
    font-size: 30px;
  }
}
.section3 .badge {
  color: #ffa842;
  background-color: #ffa84224;
  padding: 10px 25px;
  margin: 25px 0px 10px 0px;
  font-family: 'Kumbh Sans', sans-serif;
  margin-bottom: 15px;
}
@media only screen and (max-width: 426px) {
  .section3 .mb-5 {
    margin-bottom: 28px !important;
  }
}
@media only screen and (max-width: 426px) {
  .section3 .mt-4 {
    margin-top: 0px !important;
  }
}
.section3 .button-position .btn-outline-success {
  border-color: #ffa842;
  background-color: #ffa842;
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 20px;
}
.section3 .button-position .btn-outline-success:hover {
  background-color: #eba04c;
}
@media only screen and (max-width: 426px) {
  .section3 .button-position {
    margin-bottom: 28px !important;
  }
}
.section3 .why-choose {
  text-align: left;
  margin: 0px 10px;
  margin-top: 5px;
}
@media only screen and (max-width: 426px) {
  .section3 .why-choose {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.section3 .why-choose .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 10px;
}
@media only screen and (max-width: 768px) {
  .section3 .why-choose .logo {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media only screen and (max-width: 426px) {
  .section3 .why-choose .logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px;
  }
}
.section3 .why-choose .logo i {
  font-size: 50px;
  background-color: #ffa84224;
  color: #ffa842;
  border-radius: 10px;
  border: 2px soloid #ffffff2b;
  padding: 5px;
}
@media only screen and (max-width: 768px) {
  .section3 .why-choose .logo i {
    font-size: 30px;
  }
}
.section3 .why-choose .text > h3 {
  font-size: 30px;
  margin-bottom: 5px;
  color: #0E0B47;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .section3 .why-choose .text > h3 {
    font-size: 18px;
  }
}
.section4 {
  background-color: #6282E7;
  background-image: url(/img/cover2.png);
  margin-top: 100px;
  padding: 60px 0px;
}
@media only screen and (max-width: 426px) {
  .section4 {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 426px) {
  .section4 .col-md-12 {
    text-align: center;
  }
}
.section4 .col-md-12 .badge {
  background-color: #7c97eb;
  padding: 10px 25px;
  margin: 30px 0px 10px 0px;
  font-family: 'Kumbh Sans', sans-serif;
  margin-bottom: 15px;
}
@media only screen and (max-width: 768px) {
  .section4 .col-md-12 .badge {
    margin-top: 0px;
  }
}
.section4 .col-md-12 h2 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: 'Kumbh Sans', sans-serif;
}
@media only screen and (max-width: 768px) {
  .section4 .col-md-12 h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 426px) {
  .section4 .col-md-12 h2 {
    font-size: 25px;
  }
}
.section4 .col-md-12 p {
  color: #fff;
  font-family: 'Kumbh Sans', sans-serif;
  margin-bottom: 20px;
  font-weight: 300;
}
.section4 .row .col-md-15 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 12.5%;
}
.section4 .row .col-md-3 .arrow,
.section4 .row .col-md-15 .arrow {
  margin-top: 35px;
}
.section4 .row .col-md-3 .arrow::before,
.section4 .row .col-md-15 .arrow::before {
  content: "\1F816";
  font-size: 50px;
  margin: 20px;
  color: #ffa842;
}
@media only screen and (max-width: 426px) {
  .section4 .row .col-md-3 .arrow::before,
  .section4 .row .col-md-15 .arrow::before {
    display: none;
  }
}
.section4 .row .col-md-3 h2,
.section4 .row .col-md-15 h2 {
  color: #fff;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
}
.section4 .row .col-md-3 h2 span,
.section4 .row .col-md-15 h2 span {
  background-color: #ffffff2e;
  border-left: 4px solid #fff;
  padding: 0px 5px;
}
.section4 .row .col-md-3 h3,
.section4 .row .col-md-15 h3 {
  color: #fff;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
}
@media only screen and (max-width: 426px) {
  .section4 .row .col-md-3 .image-holder,
  .section4 .row .col-md-15 .image-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.section4 .row .col-md-3 .image-holder .image,
.section4 .row .col-md-15 .image-holder .image {
  height: auto;
  width: 300px;
}
@media only screen and (max-width: 769px) {
  .section4 .row .col-md-3 .image-holder .image,
  .section4 .row .col-md-15 .image-holder .image {
    height: auto;
    width: 150px;
  }
}
.section4 .row .col-md-3 .image-holder .image img,
.section4 .row .col-md-15 .image-holder .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.section4 .row .col-md-3 p,
.section4 .row .col-md-15 p {
  color: #e7e3e3;
}
.section5 {
  margin: 60px 0px;
  padding: 20px 0px;
}
@media only screen and (max-width: 426px) {
  .section5 {
    text-align: center;
    margin-top: 30px;
  }
}
.section5 h2 {
  font-family: 'Kumbh Sans', sans-serif;
  color: #0E0B47;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
}
@media only screen and (max-width: 769px) {
  .section5 h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 426px) {
  .section5 h2 {
    font-size: 30px;
  }
}
.section5 .badge {
  color: #ffa842;
  background-color: #ffa84224;
  padding: 10px 25px;
  margin: 25px 0px 10px 0px;
  font-family: 'Kumbh Sans', sans-serif;
  margin-bottom: 15px;
}
@media only screen and (max-width: 426px) {
  .section5 .badge {
    margin-top: 18px;
  }
}
.section5 .col-md-5 > p {
  margin-bottom: 0px;
}
@media only screen and (max-width: 426px) {
  .section5 .col-md-5 > p {
    text-align: justify;
  }
}
.section5 .position {
  margin-top: 25px;
  position: relative;
}
.section5 .position .image {
  width: 60%;
}
@media only screen and (max-width: 769px) {
  .section5 .position .image {
    width: 100%;
  }
}
@media only screen and (max-width: 426px) {
  .section5 .position .image {
    height: 300px;
    width: 100%;
  }
}
.section5 .position .image > img {
  height: 100%;
  border-radius: 50px;
}
.section5 .position .experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 30%;
  border-radius: 20px;
  -webkit-box-shadow: 5px 7px #eef1f5;
          box-shadow: 5px 7px #eef1f5;
  padding: 10px;
  position: absolute;
  bottom: 25%;
  right: 20%;
}
@media only screen and (max-width: 769px) {
  .section5 .position .experience {
    width: 50%;
    left: 180px;
    bottom: -25px;
  }
}
@media only screen and (max-width: 426px) {
  .section5 .position .experience {
    width: 70%;
    left: 60px;
    bottom: -40px;
  }
}
.section5 .position .experience .d-flex {
  text-align: center;
  margin: 5px;
}
.section5 .position .experience .d-flex .experiance-text {
  font-family: 'Kumbh Sans', sans-serif;
}
.section5 .position .experience .d-flex .experiance-text > h3 {
  font-weight: 800;
  margin: 0;
  text-align: center;
  color: #0E0B47;
}
@media only screen and (max-width: 768px) {
  .section5 .position .experience .d-flex .experiance-text > h3 {
    font-size: 20px;
  }
}
.section5 .position .experience .d-flex .experiance-text > p {
  margin: 0px;
  text-align: center;
  margin: 0px 10px;
}
@media only screen and (max-width: 768px) {
  .section5 .position .experience .d-flex .experiance-text > p {
    font-size: 10px;
  }
}
.section5 .position .experience .d-flex i {
  color: #eba04c;
  font-size: 60px;
  background-color: #ffa84224;
  border-radius: 10px;
}
.our-team {
  margin: 60px 0px;
  padding: 20px 0px;
}
.our-team .col-md-4 {
  width: 95%;
}
@media only screen and (max-width: 426px) {
  .our-team .container {
    text-align: center;
  }
}
.our-team .container .inner {
  margin: 30px 0px;
  padding: 20px 0px;
}
@media only screen and (max-width: 426px) {
  .our-team .container .inner {
    text-align: center;
    margin-top: 30px;
  }
}
.our-team .container .inner h2 {
  font-family: 'Kumbh Sans', sans-serif;
  color: #0E0B47;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
}
@media only screen and (max-width: 769px) {
  .our-team .container .inner h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 426px) {
  .our-team .container .inner h2 {
    font-size: 30px;
  }
}
.our-team .container .inner .badge {
  color: #ffa842;
  background-color: #ffa84224;
  padding: 10px 25px;
  margin: 25px 0px 10px 0px;
  font-family: 'Kumbh Sans', sans-serif;
  margin-bottom: 15px;
}
@media only screen and (max-width: 426px) {
  .our-team .container .inner .badge {
    margin-top: 18px;
  }
}
.our-team .container .inner .col-md-5 > p {
  margin-bottom: 0px;
}
@media only screen and (max-width: 426px) {
  .our-team .container .inner .col-md-5 > p {
    text-align: justify;
  }
}
.our-team .container .inner .position {
  margin-top: 25px;
  position: relative;
}
.our-team .container .inner .position .image {
  width: 50%;
}
@media only screen and (max-width: 769px) {
  .our-team .container .inner .position .image {
    width: 100%;
  }
}
@media only screen and (max-width: 426px) {
  .our-team .container .inner .position .image {
    height: 300px;
    width: 100%;
  }
}
.our-team .container .inner .position .image > img {
  height: 100%;
  border-radius: 50px;
}
.our-team .container .inner .position .experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(173, 167, 167, 0.175);
  width: 30%;
  border-radius: 20px;
  -webkit-box-shadow: 5px 7px #eef1f5;
          box-shadow: 5px 7px #eef1f5;
  padding: 10px;
  position: absolute;
  bottom: 25%;
  right: 20%;
}
@media only screen and (max-width: 769px) {
  .our-team .container .inner .position .experience {
    width: 50%;
    left: 180px;
    bottom: -25px;
    background-color: #fff;
  }
}
@media only screen and (max-width: 426px) {
  .our-team .container .inner .position .experience {
    width: 70%;
    left: 60px;
    bottom: -40px;
  }
}
.our-team .container .inner .position .experience .d-flex {
  text-align: center;
  margin: 5px;
}
.our-team .container .inner .position .experience .d-flex .experiance-text {
  font-family: 'Kumbh Sans', sans-serif;
}
.our-team .container .inner .position .experience .d-flex .experiance-text > h3 {
  font-weight: 800;
  margin: 0;
  text-align: center;
  color: #0E0B47;
}
@media only screen and (max-width: 768px) {
  .our-team .container .inner .position .experience .d-flex .experiance-text > h3 {
    font-size: 20px;
  }
}
.our-team .container .inner .position .experience .d-flex .experiance-text > p {
  margin: 0px;
  text-align: center;
  margin: 0px 10px;
}
@media only screen and (max-width: 768px) {
  .our-team .container .inner .position .experience .d-flex .experiance-text > p {
    font-size: 10px;
  }
}
.our-team .container .inner .position .experience .d-flex i {
  color: #eba04c;
  font-size: 60px;
  background-color: #ffa84224;
  border-radius: 10px;
}
.our-team .container .badge {
  color: #FFA842;
  background-color: #ffa84224;
  padding: 10px 25px;
  margin: 0px 0px 5px 0px;
  font-family: 'Kumbh Sans', sans-serif;
}
.our-team .container .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
.our-team .container .heading h2 {
  font-family: 'Kumbh Sans', sans-serif;
  color: #0E0B47;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
}
@media only screen and (max-width: 426px) {
  .our-team .container .heading h2 {
    font-size: 25px;
  }
}
.our-team .container .heading a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-team .container .heading a span {
  color: #e4af3c;
  font-weight: 500;
  line-height: 13px;
}
.our-team .container .multi-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.our-team .container .multi-card .card {
  border-radius: 30px;
}
@media only screen and (max-width: 426px) {
  .our-team .container .multi-card .card {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 426px) {
  .our-team .container .multi-card .card .image {
    height: 450px;
  }
}
.our-team .container .multi-card .card .image > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
  border-radius: 30px;
  -o-object-position: top;
     object-position: top;
}
@media only screen and (max-width: 426px) {
  .our-team .container .multi-card .card .image > img {
    border-radius: 30px;
  }
}
.our-team .container .multi-card .card-body {
  text-align: center;
}
.our-team .container .multi-card .card-body i {
  font-size: 20px;
  padding: 2px;
  margin: 0px 10px;
  color: #e4af3c;
  background-color: #e9d3ba;
  border-radius: 50%;
}
.our-team .container .multi-card .card-body > h5 {
  color: #0E0B47;
  font-weight: 700;
}
@media only screen and (max-width: 426px) {
  .our-team .container .multi-card .card-body > p {
    text-align: justify;
  }
}
.section7 {
  margin: 60px 0px;
  padding: 20px 0px;
}
@media only screen and (max-width: 426px) {
  .section7 {
    text-align: center;
  }
}
.section7 h2 {
  font-family: 'Kumbh Sans', sans-serif;
  color: #0E0B47;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
}
@media only screen and (max-width: 426px) {
  .section7 h2 {
    font-size: 30px;
  }
}
.section7 .button-position .btn-outline-success {
  border-color: #ffa842;
  background-color: #ffa842;
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 15px;
}
.section7 .form-alignment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .section7 .form-alignment {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media only screen and (max-width: 426px) {
  .section7 .form-alignment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section7 .form-alignment .form-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 426px) {
  .section7 .form-alignment .form-position {
    margin-bottom: 0px !important;
  }
}
.section7 .form-alignment .form-position .placeholder-style ::-webkit-input-placeholder {
  font-size: 16px;
}
.section7 .form-alignment .form-position .placeholder-style ::-moz-placeholder {
  font-size: 16px;
}
.section7 .form-alignment .form-position .placeholder-style :-ms-input-placeholder {
  font-size: 16px;
}
.section7 .form-alignment .form-position .placeholder-style ::-ms-input-placeholder {
  font-size: 16px;
}
.section7 .form-alignment .form-position .placeholder-style ::placeholder {
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .section7 .form-alignment .form-position {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 426px) {
  .section7 .form-alignment .form-position {
    text-align: left;
    margin-left: 20px;
  }
}
.section7 .form-alignment .form-position .form-control {
  width: 90%;
}
@media only screen and (max-width: 426px) {
  .section7 .form-alignment .form-position .form-control {
    margin-bottom: 5px;
  }
}
.section7 .form-alignment .form-position .form-label {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #0e0b47;
}
@media only screen and (max-width: 768px) {
  .section7 .form-alignment .form-position .form-label {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 426px) {
  .section7 .form-alignment .form-position .form-label {
    margin-top: 0px;
  }
}
.section7 .form-alignment .form-position2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section7 .form-alignment .form-position2 .placeholder-style ::-webkit-input-placeholder {
  font-size: 16px;
}
.section7 .form-alignment .form-position2 .placeholder-style ::-moz-placeholder {
  font-size: 16px;
}
.section7 .form-alignment .form-position2 .placeholder-style :-ms-input-placeholder {
  font-size: 16px;
}
.section7 .form-alignment .form-position2 .placeholder-style ::-ms-input-placeholder {
  font-size: 16px;
}
.section7 .form-alignment .form-position2 .placeholder-style ::placeholder {
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .section7 .form-alignment .form-position2 {
    width: 60%;
  }
}
@media only screen and (max-width: 426px) {
  .section7 .form-alignment .form-position2 {
    width: 100%;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 426px) {
  .section7 .form-alignment .form-position2 .form-control {
    width: 90%;
  }
}
.section7 .form-alignment .form-position2 .row {
  width: 100%;
}
.section7 .form-alignment .form-position2 .row .form-select {
  font-size: 12px;
}
@media only screen and (max-width: 426px) {
  .section7 .form-alignment .form-position2 .row .form-select {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .section7 .form-alignment .form-position2 .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .section7 .form-alignment .form-position2 .row .mb-3 {
    margin-bottom: 0rem !important;
  }
  .section7 .form-alignment .form-position2 .row .ps-2 {
    padding-left: 0rem !important;
  }
}
@media only screen and (max-width: 426px) {
  .section7 .form-alignment .form-position2 .row {
    text-align: left;
  }
}
.section7 .form-alignment .form-position2 .row .form-select {
  width: 100%;
  padding: 0.5rem 0.75rem;
}
@media only screen and (max-width: 768px) {
  .section7 .form-alignment .form-position2 .row .form-select {
    width: 90%;
  }
}
.section7 .form-alignment .form-position2 .row .form-label {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #0e0b47;
}
.section9 {
  background-color: #0E0B47;
  padding-top: 100px;
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
}
@media only screen and (max-width: 426px) {
  .section9 {
    text-align: center;
  }
}
.section9 .row1 .my-paddingR {
  padding-right: 70px;
}
@media only screen and (max-width: 768px) {
  .section9 .row1 .my-paddingR {
    padding-right: 0px;
  }
}
@media only screen and (max-width: 426px) {
  .section9 .row1 .my-paddingR {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0%;
    padding: 10px;
  }
}
.section9 .row1 .col-lg-4 > h5 {
  margin-bottom: 25px;
  font-family: 'Kumbh Sans', sans-serif;
}
.section9 .row1 .col-lg-4 .logo a > img {
  width: 200px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 768px) {
  .section9 .row1 .col-lg-4 .logo a > img {
    width: 100px !important;
  }
}
@media only screen and (max-width: 426px) {
  .section9 .row1 .col-lg-4 .logo a > img {
    margin-bottom: 0px;
  }
}
.section9 .row1 .col-lg-4 > p {
  font-size: 14px;
  font-weight: 300;
  color: #b0aec9;
}
@media only screen and (max-width: 426px) {
  .section9 .row1 .col-lg-4 > p {
    margin: 0px 0px;
    margin-bottom: 15px;
  }
}
.section9 .row1 .col-lg-2 > h5 {
  margin-bottom: 25px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
}
@media only screen and (max-width: 426px) {
  .section9 .row1 .col-lg-2 > h5 {
    margin-bottom: 15px;
  }
}
.section9 .row1 .col-lg-2 ul {
  list-style: none;
  text-align: left;
  padding-left: 0%;
}
@media only screen and (max-width: 426px) {
  .section9 .row1 .col-lg-2 ul {
    text-align: center;
  }
}
.section9 .row1 .col-lg-2 ul li {
  margin: 8px 0px;
}
.section9 .row1 .col-lg-2 ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 300;
  color: #b0aec9;
}
@media only screen and (max-width: 426px) {
  .section9 .row1 .col-lg-2 ul li a {
    font-size: 15px;
  }
}
.section9 .row1 .col-lg-2 ul li a:hover {
  color: #eba04c;
}
.section9 .row1 .col-lg-4 > h5 {
  margin-bottom: 25px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
}
@media only screen and (max-width: 769px) {
  .section9 .row1 .col-lg-4 > h5 {
    margin-bottom: 5px;
  }
}
.section9 .row1 .col-lg-4 .logo > img {
  width: 148px;
  margin-bottom: 25px;
}
.section9 .row1 .col-lg-4 > p {
  font-size: 14px;
  font-weight: 300;
  color: #b0aec9;
}
.section9 .row1 .col-lg-4 .footer-botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .section9 .row1 .col-lg-4 .footer-botton {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section9 .row1 .col-lg-4 .footer-botton .form-control {
  width: 60%;
  background-color: #FFFFFF2B;
}
@media only screen and (max-width: 768px) {
  .section9 .row1 .col-lg-4 .footer-botton .form-control {
    width: 100%;
    margin-bottom: 20px;
  }
}
.section9 .row1 .col-lg-4 .footer-botton .btn-outline-success {
  border-color: #ffa842;
  background-color: #ffa842;
  border-radius: 5px;
}
.section9 .row1 .col-lg-4 .footer-botton .btn-outline-success:hover {
  background-color: #eba04c;
}
.section9 .row1 .col-lg-4 .footer-botton .btn {
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 15px;
}
.section9 .row2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  border-top: 1px solid #eba04c;
  padding: 15px 0px;
}
.section9 .row2 .col-md-4 i {
  font-size: 25px;
  padding: 2px;
  margin: 0px 10px;
  color: #e4af3c;
  background-color: #FFA84224;
  border-radius: 50%;
}
@media only screen and (max-width: 426px) {
  .section9 .row2 .col-md-4 i {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 20px;
  }
}
.section9 .row2 .col-md-4 a {
  text-decoration: none;
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 300;
  color: #b0aec9;
}
@media only screen and (max-width: 768px) {
  .section9 .row2 .col-md-4 a {
    font-size: 15px;
  }
}
.section9 .row2 .col-md-4 a:hover {
  color: #eba04c;
  font-weight: 400;
}
.section9 .row2 .col-md-4 p {
  margin: 0px;
  font-weight: 300;
  color: #b0aec9;
}
@media only screen and (max-width: 768px) {
  .section9 .row2 .col-md-4 p {
    font-size: 15px;
  }
}
.modal .modal-header {
  padding: 0rem 1rem;
}
.modal .modal-content {
  border-radius: 10px;
}
.modal .modal-content h5 {
  font-weight: 600;
  color: #0E0B47;
  font-family: 'Kumbh Sans', sans-serif;
}
.modal .modal-content input {
  color: #3c3c3c !important;
  font-family: 'Kumbh Sans', sans-serif;
}
.modal .modal-content ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #3c3c3c;
}
.modal .modal-content ::-moz-placeholder {
  /* Chrome/Opera/Safari */
  color: #3c3c3c;
}
.modal .modal-content :-ms-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #3c3c3c;
}
.modal .modal-content ::-ms-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #3c3c3c;
}
.modal .modal-content ::placeholder {
  /* Chrome/Opera/Safari */
  color: #3c3c3c;
}
.modal .modal-content .close {
  border: none;
  background: transparent;
  color: #0E0B47;
}
.modal .modal-content .close span {
  font-size: 30px;
  font-weight: 600;
}
.modal .modal-body .form-group1 {
  margin-bottom: 0.5rem;
}
.modal .modal-body .form-group1 .form-control {
  padding: 0.375rem 1.75rem;
  border-radius: 5px;
  background-color: #3c3c3c07;
  margin-bottom: 20px;
}
.modal .modal-body .form-group1 .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.modal .modal-body .btn {
  color: #fff;
  border-radius: 5px;
  background-color: #0E0B47;
  width: 100%;
  font-weight: 600;
}
.modal .modal-body .btn:hover {
  color: #0E0B47;
  background-color: #3c3c3c25;
  font-weight: 800;
}
